/* Fundo moderno com gradiente azul e roxo */
body {
    font-family: "Poppins", Arial, sans-serif;
    background: linear-gradient(135deg, #fdfdff, #0535bb, #8096f1);
    background-size: 300% 300%;
    animation: gradientMove 10s ease infinite;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animação suave do gradiente */
@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Card central */
.container {
    width: 380px;
    padding: 30px;
    background: rgba(31, 25, 25, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.4);
    color: rgb(253, 252, 252);
    text-align: center;
    border: 1px solid rgba(255,255,255,0.2);
}

/* Título */
h2 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #ffffff;
    font-weight: 600;
}

/* input e labels */
.input-group {
    text-align: left;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

/* Campos de entrada */
input {
    width: 100%;
    padding: 10px;
    background: rgba(255,255,255,0.3);
    border: 2px solid transparent;
    border-radius: 8px;
    color: #000000;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}

/* Foco azul */
input:focus {
    border-color: #161718;
    background: rgba(255,255,255,0.5);
}

/* Erro */
input:invalid {
    border-color: #0f0f0f;
}

/* Botão */
button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #0f0f0f, #0020ad);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5px;
}

button:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 15px rgba(255,255,255,0.3);
}

